@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "font-awesome";
@import "fancybox";
//@import "compass/typography/links/link-colors";
//link-colors($normal, $hover, $active, $visited, $focus)
@mixin font_droid{font-family: "Droid Sans", "sans-serif";}	
@mixin font_lato{font-family:lato,"Droid Sans", "sans-serif";}

body{@include font_lato
	 //font-family:lato,"Droid Sans", "sans-serif" !important ;
	//a{ font-family: "Droid Sans", "sans-serif" !important ; }
}

section div.ui-panel-wrapper,body {
	background-color: #F2F2F2 !important;
}
//#F9F9F9  #F2F2F2
//darks - #1F1F1F, #2A2A2A


.ui-header {border:none;
	.ui-btn {font-size: 16px;}
	.ui-btn .fa {font-size: 1.2em;float:right;}
}

.ui-listview>li {
	.ui-collapsible-heading * {border: none; width: 100%;}

	div.ui-collapsible-content {border:none;
		a {border-top: none; padding-left: 25px}
	}
}


div[data-role="header"] {
	padding:12px 10px 8px;
	//padding-top:12px;
	//padding-bottom:8px;
	position:fixed;
	left:0px;
	top:0px;
	z-index: 1000;
	width:100%;
	overflow:hidden;
	height: 25px;
	background-color: #2A2A2A;
	color: #727272;
	a {
		@include font_droid;
		//font-family: "Droid Sans", "sans-serif";
		text-decoration: none;
		color:#BFBFBF;
		&:visited{color:#BFBFBF;}
		&.current,&:hover{color:#727272;}
		&.current{cursor:default}
	}
	/*
	a, a:visited { color:#BFBFBF;}
	a:hover {color:#727272;}
	a.current{color:#727272;cursor:default;}
	*/
}

#sectionNav{}

div.ui-page-active,
section.ui-page-active{
	margin-top:45px !important;
h1,h2,h3{@include font_droid}
	h1 {
		//font-family: "Droid Sans", "sans-serif";		
		font-size: 2em;
		font-weight: bold;
	}
	h2{
		//font-family: "Droid Sans", "sans-serif";		
		font-size: 1.6em;
		//font-size: 1.5em;
		border-bottom: 1px solid #DDD;

	}
	h3{
		//font-family: "Droid Sans", "sans-serif";		
		font-size: 1.3em;
		line-height: 1.3em;
	}
}

div.ui-content{padding: 0.5em 1.5em 1em 1.5em;}

//Maybe make this link styling more universal? 
a[data-role="none"]{
	//color:#BFBFBF !important;
	color:#727272 !important;
	//text-decoration:none;
	//line-height: 1.6em;
	margin-bottom: 5px;
	&:hover{color:#2A2A2A !important;}
}
/*
a[data-role="none"]:hover{ color:#2A2A2A !important;//text-decoration:underline;
}
*/

//section[data-url="/tools.html"]{
#toolList{
	margin-top:0;
	padding:0.5em 1em 1em;
	ul h1.ui-collapsible-heading {margin-top:0; margin-bottom:0; }
	div.ui-collapsible-content a {font-weight:normal}
//	.ui-listview > .ui-li-static {padding-top:0px;padding-bottom:0px;}
}
#toolsInfo,
#writingInfo,
div.writingExample,
#workExample{
	padding:1em;
	overflow:hidden;
}

/*
#workExample{
	div.techUsed{float:right;}
	img{
		max-width:40%;
		max-height: 200px;
		margin-right:1em;
		vertical-align: middle;
	}

}

*/


#workExample,
#developmentContent,
#writingContent,
#toolsInfo{
	h1 {
		// font-family: "Droid Sans", "sans-serif";		
		float:left;
		// font-size: 2em;
		// font-weight: bold;
		margin-right:0.8em;
	}
	h2{
		// font-family: "Droid Sans", "sans-serif";		
		// font-size: 1.6em;
		text-align: center;
		border-bottom: none;
	}
	h3{
//		font-family: "Droid Sans", "sans-serif";		
		text-align:center;
//		font-size: 1.3em;
//		line-height: 1.3em;
		padding-bottom:2px;
		border-bottom: 1px solid #DDD;
		margin-bottom: 4px;

	}
	a{	font-weight:normal;
		//color:#727272 !important;
		color:#727272;
		text-decoration:none;
		line-height: 1.1em;
		//margin-bottom: 5px;
		&:hover{text-decoration:underline}
	}
	//a:hover{text-decoration:underline}
	div.devTopic_top{
		padding:1em;overflow:hidden
	}
	p{
		line-height: 1.1em;
		margin-bottom: 1em;
	}
	p.notes{ font-size:1.1em;}

	div.ui-grid-a.ui-responsive{
		clear:both;
		>div{padding:1em;margin-top:0.8em;}
		
		div.ui-body.ui-body-a.ui-corner-all{
			//padding:1em;margin-top:0.8em;
			ul li:before{ content:"-"; position:relative; left:-5px;top:-1px;}
			ul li{ text-indent:5px;margin-bottom:1px; }
		}
	}

	div.backbutton{
		a{
			@include font_droid;
			font-size: 1em;
			color: #BFBFBF;
			&:hover{color: #727272;}		
			line-height: 1.5em;
			font-weight: bold;
			text-decoration: none;

			
			cursor: pointer;
			
			float:right;
			position:relative;
			right:-2em;
			text-shadow: none;
			padding:0.5em 1em;
			/* position: absolute;
			bottom: 16px;
			right: 0px; 
			padding: 6px 12px 6px 12px;
			*/
			background-color: #2A2A2A;
			background-clip: padding-box;
			border: 1px solid rgba(0, 0, 0, 0);
			border-left: 0px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;
			span{vertical-align: top;}
			span.fa{
				font-weight: normal;
				font-size: 1.5em;
			//	margin:0 0.1em
			}
		}
	}
}
#toolsInfo,
#writingContent{ 
	h1{margin-right:0.4em;}
	p.notes{font-size:1em;}
}

section[data-url="/development.html"] #developmentContent{
	h2,h3{text-align:left;}
	h2{
		border-bottom: 1px solid #DDD;
		margin-bottom: 4px;
	}
	h3{border-bottom: none;}
	div.ui-body{
		padding-left:2em;
		padding-right:6em;
		@media screen and (max-width:992px){padding-right:2em;}
		@media screen and (max-width:640px){padding-left:0.4em;padding-right:0.4em;}
	}
}

/* #workExample{
	div.techUsed{float:right;}
	img{
		max-width:40%;
		max-height: 200px;
		margin-right:1em;
		vertical-align: middle;
	}

}
 */

#portfolioContent,
#workExample{
	div.itemInfo{
		float:left;
		width:75%;
	}
	div.techUsed{
		float:right;
		clear:none;
		width:20%;
		padding: 0.5em 0.8em 0.8em;
	}
}

#portfolioContent{
	h1{float:none;margin-right:0;}
	p.notes{margin-top:0.5em;}
}
#workExample{
	div.itemInfo{font-size:1.1em}
	img{
		max-width:40%;
		max-height: 200px; 
		margin-right:1em;
		vertical-align: middle;
		cursor: pointer;
	}
	ul{ 
		line-height: 1.1em;
		li{list-style: disc inside;}
	}
}

#writingContent{
	//border-bottom: solid 1px #DDD;
	div.writingExample{
		width:45%;
		float: left;
		margin-right: 2%;
		border-bottom: 1px solid #DDD;
		padding-bottom: 0.8em;
		ul{margin-bottom:1em;}
		@media screen and (max-width:1280px){margin-right:1%;}		
		@media screen and (max-width:992px){
			width:100%;
			float:none;
			margin-right:0;
		}
		//@media screen and (max-width:640px){}
	}
	h3{
		float:left;
		text-align:left;
		padding:0;
		border-bottom:0;
		margin:0 0.8em 0 0;
	}
	span.fa{
		font-size:1em;
		vertical-align:middle;
	}
	a.documentLink{
		float:left;
		line-height:1.5em;
		clear:none;
		font-size: 1em;
		vertical-align: bottom;
		&:hover{
			text-decoration: none;
			color:#333;
		}
	}
	ul{ 
		line-height: 1.1em;
		li{list-style: disc inside;}
	}	
}




span.strong{
	@include font_droid;
	font-weight:bold;
}



/* navigation panel styling */
div.quickInfo_open-arrow,div.quickInfo_close-arrow{
	cursor:pointer;
	width: 0; 
	height: 0; 	
	span{
		@include font_droid;
		@include user-select(none);
		color:#1b1b1b;
		color:#727272;
		font-weight: bold;
	}
}


div.quickInfo_open-arrow{
	@include single-transition(left,575ms,ease-out,false);
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	//border-left:30px solid #333333; 
	border-left:30px solid #2A2A2A; 
	position:fixed;
	left:0;
	top:50%;
	//margin-top:-25px;
	margin-top:-60px;
	&:hover{border-left-color: #2f2f2f;
		//#727272;
	}
	span{
		@include rotate(90deg);
		@include apply-origin(55% 20% 0, false);
		float:right;
	}
	&.panel-open{
		left:-32px;
	}
}

div.quickInfo_close-arrow{
	border-top: 60px solid transparent;
	border-bottom: 60px solid transparent; 
	border-right:30px solid #333333; 
	position:absolute;
	right:0;
	top:50%;
	margin-top:-105px;
	&:hover{border-right-color: #2f2f2f
		//#727272;
	}
	span{
		@include rotate(270deg);
		@include apply-origin(45% 25% 0, false);
		float:left;
	}
}

/*
@include box-shadow(  rgba(255, 255, 255, 0.07) 0 1px 0 inset);

div.panel-button{}



  border-bottom{1px solid #121212}
  rgba(255, 255, 255, 0.07) 
*/

/*
@mixin navPanel {
	top:45px;
	//height: calc(100% - 40px); ---http://stackoverflow.com/a/17069027/1608016
	div.ui-panel-inner>ul>li.ui-first-child>a{border-top:none;}
	.ui-listview > .ui-li-static {padding-top:0px;padding-bottom:0px;}
	ul a {background-color:#2a2a2a;}
	ul a:hover {background-color: #333;}

	ul a.ui-btn {padding-top:.5em; padding-bottom:.5em;font-size: 14px; }
	ul a.ui-icon-carat-r:after { background:none;}
		//background: url("Path to your image file") no-repeat scroll 0px 0px transparent;
	ul h1.ui-collapsible-heading {margin-top:0; margin-bottom:0; 
		//a.ui-btn-icon-left {font-size: 14px; }
		a.ui-btn-icon-left:hover {background-color:#2A2A2A;}
	}
}
*/
#quickInfo{//@include navPanel
	top:45px;
	border-top:1px solid #1F1F1F;
	div.ui-panel-inner{@include box-shadow(  rgba(255, 255, 255, 0.07) 0 1px 0 inset)}
	div.ui-body{
		padding-left:.08em;
		padding-top:0
	}
	ul li{
		@include font_lato;
		font-weight: normal;
		margin:0.5em 0;
		a, a span, a span.fa{
			color:#BFBFBF;
			text-decoration: none;	
			&:visited{color:#BFBFBF}
			&:hover{color:#727272}
		}
	}
	p{@include font_lato}
	span{
		color:#BFBFBF;
	}
	#title{
		margin-top:0;
		margin-bottom:1em;
		h1{
			@include font_droid;
			font-size:2em;
			text-align:center;
			font-weight: bold;
		}
	}
	#resume{
		a{font-weight:normal;}
		line-height:1.8em;
		span.fa{
			font-size:1.8em;
			margin:0 0.4em;
		}
		span:not(.fa){vertical-align:top;}
	}
	#email{
		line-height:1.8em;
		span.fa{
			font-size:1.8em;
			margin:0 0.4em;
		}
		span:not(.fa){
			vertical-align:top;
			font-size:0.8em;
		}
	}
	#cellphone{
		line-height:2em;
		span.fa{
			font-size:2.6em;
			margin:0 0 0 0.1em;

		}
		a{	font-weight:normal;
			vertical-align:top;
			margin:0 0.2em;
		}
	}
	#icons{
		text-align:center;
		padding-top:5px;
		a span.fa{
		//float:left;
		text-align:center;
		font-size: 3em;
		//color:#BFBFBF;
		margin-left: 0.2em;
		margin-right: 0.2em;
		//&:visited{color:#BFBFBF}
		//&:hover{color:#727272}
		}
	}
	span.fa-mobile{@include rotate(330deg);}

}



/*
#development_nav {@include navPanel}
#creative_nav {@include navPanel}
#tools_nav {@include navPanel}
*/
