@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "font-awesome";
@import "fancybox";
@mixin font_droid{font-family: "Droid Sans", "sans-serif";}	
@mixin font_lato{font-family:lato,"Droid Sans", "sans-serif";}

body{
	@include font_lato;
	background-color:#F2F2F2;
}

section div.ui-panel-wrapper,body{
	background-color: #F2F2F2 !important;
}
//standard bg color: #F2F2F2
//#F9F9F9  
//darks - #1F1F1F, #2A2A2A

.ui-header {border:none;}

section.ui-page-active{
	padding-top:45px !important;
	h1 {
		@include font_droid;
		font-size: 2.2em;
		font-weight: bold;
		float:left;
		margin-right: 0.4em;
	}
	h2{
		font-size: 1.6em;
		border-bottom: 1px solid #DDD;
		text-align:  center;
		border-bottom: none;
	}
	h3{
		font-size: 1.3em;
		line-height: 1.3em;
		text-align: center;
		padding-bottom:2px;
		border-bottom:1px solid #DDD;
		margin-bottom: 4px;
	}
}

div.ui-content{
	padding: 1em 1em 1em 2em;
	a{
		font-weight:normal;
		color:#727272;
		text-decoration:none;
		line-height: 1.1em;
		&:visited{color:#727272}
		&:hover{text-decoration:underline}
	}
	p{
		line-height: 1.1em;
		margin-bottom: 1em;
	}
	p.notes{font-size:1.1em;}
	>div h2{padding-top:0.5em}
	div.backbutton{
		a{
			@include font_droid;
			font-size: 1em;
			line-height: 1.5em;
			font-weight: bold;
			text-decoration: none;
			text-shadow: none;
			cursor: pointer;

			background-color: #2A2A2A;
			background-clip: padding-box;
			
			float:right;
			position:relative;
			right:-2em;
			padding:0.5em 1.5em 0.5em 0.75em;
			
			border: 1px solid rgba(0, 0, 0, 0);
			border-left: 0px;
			border-top-left-radius: 4px;
			border-bottom-left-radius: 4px;

			color: #BFBFBF;
			&:visited{color:#BFBFBF}
			&:hover{color: #727272;}			
			span{vertical-align: middle;}
			span.fa{
				font-weight: normal;
				font-size: 1.5em;
				margin-right: 0.2em;
			}
		}
	}
}

.ui-listview>li{
	.ui-collapsible-heading * {border: none; width: 100%;}
	div.ui-collapsible-content {border:none;
		a {border-top: none; padding-left: 25px}
	}
}

div.relevantMedia, 
div.pageHeader{
	overflow:hidden;
	padding:0 1em;
}

div.pageHeader p.notes{
	font-size:1.1em;
	line-height:1.1em;
	margin-bottom:1em;
}
//div.itemInfo p.notes a{
div.itemInfo a{	
	color:#727272;
	text-decoration:underline;
	&:hover{color:#2A2A2A !important;}
}



#developmentContent{
	a:hover{color:#727272;}
	p.notes.lone{
		float:left;
		margin-top:1em;	
	}
	div.ui-grid-a.ui-responsive{
	clear:both;
		>div{padding:1em;margin-top:0.8em;}
		div.ui-body.ui-body-a.ui-corner-all{
			ul li:before{ content:"-"; position:relative; left:-5px;top:-1px;}
			ul li{ text-indent:5px;margin-bottom:1px; }
		}
	}
	h2.lone{
		width:38%;
		float:left;
		padding-top:1em;
		text-align:right;	
		@media screen and (max-width:680px){
			width:100%;
			float:none;
			padding:0;
			text-align: center;
		}
	}
	div.lone{
		float:right;
		width:55%;
		margin-top:0 !important;
		@media screen and (max-width:680px){
			width: inherit;
			float:none;
		}	
	}
}

@mixin example-blocks{
	width:48%;
	float: left;
	margin-right: 2%;
	@media screen and (max-width:992px){
		width:100%;
		float:none;
		margin-right:0;
	}
}

section[data-url="/development"] #developmentContent{
	h2,h3{text-align:left;}
	h2{
		padding-top:0;
		padding-bottom:5px;
		border-bottom: 1px solid #DDD;
		margin-bottom: 4px;
	}
	h3{border-bottom: none;}
	div.ui-body{
		padding-right:4em;
		@media screen and (max-width:992px){padding-right:2em;}
	}
}

#workExample{
	a.siteLink{
		float:left;
		line-height:2.2em;
		clear:none;
		font-size: 1em;
		vertical-align: bottom;
		&:hover{
			text-decoration: none;
			color:#333;
		}
	}
	div.backbutton a {
		margin-top: 2em;
		clear:right;
	}
}

#workExample{
	a:hover{color:#727272}
	div.itemInfo{
		clear:left;
		float:left;
		width:70%;
	}
	div.techUsed{
		float:right;
		clear:none;
		width:20%;
		padding: 0.5em 0.8em 0.8em;
	}
}

//div.creativeCategory
#creativeExampleDetail h1{float:none;margin-right:0;}
#creativeExampleDetail p.notes, #workExample p.notes{margin-top:0.5em;}

#creativeExampleDetail,
#workExample{
	ul{ 
		line-height: 1.1em;
		li{list-style: disc inside;}
	}
	div.itemInfo{
		font-size:1.1em;
		padding:0 1em;
		ul {line-height: 1.2em;}
	}	
}

#creativeExampleDetail div.media,
#creativeExampleDetail img,
#workExample img{
	max-width:40%;	
	max-height: 200px; 
	margin-right:1em;
	vertical-align: middle;
	cursor: pointer;
}

#creativeExampleDetail div.media,
#creativeExampleDetail img{
	text-align:center;
	float:left;
	@media screen and (max-width:992px){
		max-width:90%;
		max-height: none;
		clear:left;
    	padding-bottom:0.8em
	}
	span{
		font-size: 4em;
		@media screen and (max-width:992px){font-size:3em;}
		@media screen and (max-width:640px){font-size:2em;}
	}
}

#creativeExampleDetail div.media{ 
	padding:1em;
	@media screen and (max-width:992px){width:90%}
}

div.creativeCategory{
	overflow:hidden;
	border-bottom: 1px solid #DDD;
	padding: 0.8em 1em 0.8em;
	h3{
		font-size:1.5em;
		line-height: 1.5em;
		border-bottom:none;
	}
	div.creativeExample{
		@include example-blocks;
		line-height: 1.1em;
		margin-top: 0.5em;
		margin-bottom: 0.5em;
		a{@include font_droid;
			font-weight:bold;
			color: #333;
			text-decoration:none;
			&:hover{color:#727272;}
		}
	}
	div.creativeExample:nth-child(even){ clear:left; }
}

#writingContent{
	padding:0 1em;
	div.writingExample{
		@include example-blocks;
		border-bottom: 1px solid #DDD;
		padding-top:0.5em;
		div.itemInfo{clear:both;}
		ul{margin-bottom:1em;}
	}
	h3{
		float:left;
		text-align:left;
		padding:0;
		border-bottom:0;
		margin:0 0.8em 0 0;
	}
	span.fa{
		font-size:1em;
		vertical-align:middle;
	}
	a.documentLink{
		float:left;
		line-height:1.5em;
		clear:none;
		font-size: 1em;
		vertical-align: bottom;
		&:hover{
			text-decoration: none;
			color:#333;
			span.text{text-decoration:underline;}
		}
	}
	ul{ 
		line-height: 1.1em;
		li{list-style: disc inside;}
	}	
}

span.strong{
	@include font_droid;
	font-weight:bold;
}

#toolList{
	margin-top:0;
	padding:0.5em 1em 1em;
	h3.ui-collapsible-heading {
		margin:0;
		padding:0;
		border-bottom:none; 
	}
	div.ui-collapsible-content a {
		font-weight:normal;
		text-decoration:underline;
		color:#727272;
		&:hover{color:#2A2A2A}
	}
}

#aboutMeContent div.pageHeader{	
	padding-bottom:1em; 
	a{
		color:#727272;
		text-decoration:none;
		&:hover{
			color:#333;
			text-decoration:underline;		
		}
	}
}
#aboutMeContent a{ 
	text-decoration:underline;
	&:hover{color:#2A2A2A;}
}

#aboutUnabridged, #aboutTLDR{ padding:0 1em; }

#aboutTLDR{
	font-size:1.1em;
	line-height: 1.1em;
	margin-bottom: 1em;
	li:before{ content:"-"; position:relative; left:-5px;top:-1px;}
	li{ text-indent:5px;margin-bottom:1px; }
}

#home div.pageHeader{padding-bottom:1em;}
#home p.notes{
	padding-left:1em;
	padding-right:1em;
}
#home img.silhouette{
	float:right;
	width:100%;
	max-width:720px;
	margin-top:1em;
	margin-right:-2em;
}

@import "nav-and-sidebar";