html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  background-color: green !important;
}

.ui-header {
  border: none;
}
.ui-header .ui-btn {
  font-size: 16px;
}
.ui-header .ui-btn .fa {
  font-size: 1.2em;
  float: right;
}

.ui-listview > li .ui-collapsible-heading * {
  border: none;
  width: 100%;
}
.ui-listview > li div.ui-collapsible-content {
  border: none;
}
.ui-listview > li div.ui-collapsible-content a {
  border-top: none;
  padding-left: 25px;
}

div[data-role="header"] {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1000;
  width: 100%;
  overflow: hidden;
  height: 25px;
  background-color: Fuchsia;
}

div.ui-page-active,
section.ui-page-active {
  margin-top: 25px !important;
}

span.strong {
  font-weight: bold;
}

/* navigation panel styling */
#development_nav {
  top: 25px;
}
#development_nav div.ui-panel-inner > ul > li.ui-first-child > a {
  border-top: none;
}
#development_nav .ui-listview > .ui-li-static {
  padding-top: 0px;
  padding-bottom: 0px;
}
#development_nav ul a {
  background-color: #2a2a2a;
}
#development_nav ul a:hover {
  background-color: #333;
}
#development_nav ul a.ui-btn {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 14px;
}
#development_nav ul h1.ui-collapsible-heading {
  margin-top: 0;
  margin-bottom: 0;
}
#development_nav ul h1.ui-collapsible-heading a.ui-btn-icon-left:hover {
  background-color: #2A2A2A;
}

#creative_nav {
  top: 25px;
}
#creative_nav div.ui-panel-inner > ul > li.ui-first-child > a {
  border-top: none;
}
#creative_nav .ui-listview > .ui-li-static {
  padding-top: 0px;
  padding-bottom: 0px;
}
#creative_nav ul a {
  background-color: #2a2a2a;
}
#creative_nav ul a:hover {
  background-color: #333;
}
#creative_nav ul a.ui-btn {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 14px;
}
#creative_nav ul h1.ui-collapsible-heading {
  margin-top: 0;
  margin-bottom: 0;
}
#creative_nav ul h1.ui-collapsible-heading a.ui-btn-icon-left:hover {
  background-color: #2A2A2A;
}

#tools_nav {
  top: 25px;
}
#tools_nav div.ui-panel-inner > ul > li.ui-first-child > a {
  border-top: none;
}
#tools_nav .ui-listview > .ui-li-static {
  padding-top: 0px;
  padding-bottom: 0px;
}
#tools_nav ul a {
  background-color: #2a2a2a;
}
#tools_nav ul a:hover {
  background-color: #333;
}
#tools_nav ul a.ui-btn {
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 14px;
}
#tools_nav ul h1.ui-collapsible-heading {
  margin-top: 0;
  margin-bottom: 0;
}
#tools_nav ul h1.ui-collapsible-heading a.ui-btn-icon-left:hover {
  background-color: #2A2A2A;
}

section[data-url="/tools.html"] ul h1.ui-collapsible-heading {
  margin-top: 0;
  margin-bottom: 0;
}
